{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<header class="masthead" style="background-image: url({% static 'so/assets/img/sea.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <span class="meta">
                                <h1>RESET PASSWORD</h1>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="postheading">
                                    {{ form.as_p }}
                                    <span>
                                        <div class="subheading">
                                            <button type="submit" class="btn btn-primary">Reset Password</button>
                                        </div>
                                    </span>
                                </form>
                            </span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</header>
{% include 'includes/message.html' %}

{% endblock content %}

