{% extends "base.html" %}
{% block content %}

<header class="masthead" style="background-image: url('static/ho/assets/img/index-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <div class="alert alert-info">
                        An email has been set.
                    </div>
                    <h1>RESET</h1>
                    <span class="meta">
                    <h2 class="subheading">You have been logged out.</h2>
                    </span>
                    <span class="meta">
                        <a href="{% url 'login' %}">Sign In Here</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% include 'includes/message.html' %}



{% endblock content %}

